* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: var(--color-white);
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
html {
  font-size: 10px;
}

:root {
  --color-white: #ffffff;
  --color-first: #f7f7fc;
  --color-second: #333f50;
  /* --color-third: #;
	 --color-fourth: #;*/
}

body {
  background-color: var(--color-first);
  font-family: Gotham Pro;
}

header {
  width: 100vw;
  height: 5.5vh;
  min-height: 2.5rem;
  background-color: var(--color-second);
  filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.3));
  overflow: hidden;
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 1.4rem;
}

.logo {
  width: 4vw;
  min-width: 4.5rem;
  min-height: 1.19rem;
  margin-left: 3.3vw;
}

img {
  width: inherit;
  min-width: inherit ьшт-цшверЖ штрукшеж;
  min-height: inherit;
}

ul {
  display: flex;
  flex: row;
}

.nav-btn + .nav-btn {
  margin-left: 2vw;
}

li:before {
  /* icons img 4 img 3*/
}

.navigation {
  margin-left: 3.4vw;
}

.navigatio::before {
  /* icons */
}

.account-info {
  margin-left: auto;
  margin-right: 4.6vw;
}

.account-info::before {
  /* icons */
}

main {
  height: 94.5vh;
  min-height: 55rem;
  display: flex;
}

.main-content {
  width: 93.8vw;
  height: 87.2vh;
  min-height: 20rem;
  min-width: 69rem;
  border-radius: 6px;
  background-color: var(--color-white);
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.2));
  margin: 3.85vh auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-card {
  width: 13.9vw;
  height: 26.5vh;
  background-color: var(--color-first);
  border-radius: 11px;
  border: 1px solid var(--color-second);
}

.anc-card {
  width: 20rem;
  height: 20rem;
  background-color: var(--color-first);
  border-radius: 11px;
  border: 1px solid var(--color-second);
}
