* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: var(--color-white);
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
html {
  font-size: 10px;
}

:root {
  --color-white: #ffffff;
  --color-first: #f7f7fc;
  --color-second: #333f50;
  /* --color-third: #;
	 --color-fourth: #;*/
}

body {
  background-color: var(--color-first);
  font-family: Gotham Pro;
}

header {
  width: 100vw;
  height: 5.5vh;
  background-color: var(--color-second);
  filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.3));
  overflow: hidden;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.4rem;
}

.logo {
  width: 4vw;
}

img {
  width: inherit;
}

ul {
  display: flex;
  flex: row;
}

li + li {
  margin-left: 2vw;
}

li:before {
  /* icons img 4 img 3*/
}

.navigation {
  margin-left: 3.4vw;
}

.navigatio::before {
  /* icons */
}

.account-info {
  margin-left: 69vw;
  margin-right: 4.5vw;
}

.account-info::before {
  /* icons */
}

main {
  height: 94.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  width: 93.8vw;
  height: 87.2vh;
  border-radius: 6px;
  background-color: var(--color-white);
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.2));
}
